/*
Author: Yusuf Akcesme
Email: yusufakcesme0[at]gmail.com
Github: github.com/yusufakcesme
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

/* Color Variables */
body {
  font-family: 'Merriweather', serif;
  background: #0e0e11;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  /* header start*/
  /* header finish*/
  /* main finish */
}

.container header {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .hamburger-button {
  display: none;
}

.container header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 15px 30px;
  border: 3px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.container header .logo a::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 13px;
  right: 27%;
  border: 3px solid #0e0e11;
}

.container header .logo a::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 13px;
  right: 38%;
  border: 3px solid #0e0e11;
}

.container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header nav a {
  display: block;
  margin-left: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.container header nav a.primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  letter-spacing: 1px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  color: #0e0e11;
  background: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.container header nav a.primary-button .fa-angle-double-right {
  font-weight: 300;
  margin-left: 10px;
  color: #f67521;
}

.container header nav a.primary-button:hover {
  background-color: #f67521;
  color: #fff;
}

.container header nav a.primary-button:hover .fa-angle-double-right {
  color: #fff;
}

.container main {
  width: 100%;
  height: auto;
  margin: 60px auto;
  /* How it works section */
}

.container main .hero-banner {
  width: 100%;
  min-height: 320px;
  position: relative;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main .hero-banner .inner {
  max-width: 640px;
}

.container main .hero-banner .inner h2 {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container main .hero-banner .inner h2::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 5px;
  right: 1px;
  border: 3px solid #0e0e11;
}

.container main .hero-banner .inner p {
  line-height: 2.2;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 15px;
}

.container main .hero-banner .inner a.banner-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 25px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  background: transparent;
  -webkit-transition: .3s all;
  transition: .3s all;
  position: relative;
}

.container main .hero-banner .inner a.banner-button .fa-hand-peace {
  color: #f67521;
  margin-left: 10px;
}

.container main .hero-banner .inner a.banner-button:hover {
  color: #0e0e11;
}

.container main .hero-banner .inner a.banner-button:hover::before {
  width: 100%;
}

.container main .hero-banner .inner a.banner-button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: .5s width;
  transition: .5s width;
  background: #fff;
}

.container main .hero-banner .banner-img {
  opacity: .7;
}

.container main .hero-banner .banner-img img {
  width: auto;
  height: 320px;
}

.container main .hiw-section {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.container main .hiw-section h2 {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container main .hiw-section h2::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 5px;
  right: 4px;
  border: 3px solid #0e0e11;
}

.container main .hiw-section .hiw-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px -15px;
}

.container main .hiw-section .hiw-wrapper .hiw-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px;
  border: 3px solid #17171b;
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-right: none;
}

.container main .hiw-section .hiw-wrapper .hiw-box .hiw-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .hiw-section .hiw-wrapper .hiw-box .hiw-text span {
  font-size: 36px;
  color: #fff;
  opacity: .4;
  margin-right: 20px;
}

.container main .hiw-section .hiw-wrapper .hiw-box .hiw-text p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container main .hiw-section .hiw-wrapper .hiw-box .hiw-number {
  position: absolute;
  top: -70px;
  right: -27px;
  font-size: 170px;
  font-weight: 900;
  color: #17171b;
}

.container main .tech-section {
  width: 100%;
  height: auto;
  margin-top: 120px;
}

.container main .tech-section h2 {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container main .tech-section h2::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 5px;
  right: 4px;
  border: 3px solid #0e0e11;
}

.container main .tech-section .title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.container main .tech-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container main .tech-section ul li {
  width: calc(100% / 5 - 30px);
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.03);
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.container main .tech-section ul li span.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.container main .tech-section ul li .icon-1 {
  color: #e95d26;
}

.container main .tech-section ul li .icon-2 {
  color: #34a3d5;
}

.container main .tech-section ul li .icon-3 {
  color: #CC6699;
}

.container main .tech-section ul li .icon-4 {
  color: #f0da1d;
}

.container main .tech-section ul li .icon-5 {
  color: #3fb37f;
}

.container main .tech-section ul li span.tech-title {
  color: #fff;
}

.container main .tech-section ul li:hover {
  background: rgba(255, 255, 255, 0.08);
}

.container main .works-section {
  width: 100%;
  height: auto;
  margin-top: 100px;
  scroll-margin-top: 50px;
  /* work item finish */
}

.container main .works-section h2 {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container main .works-section h2::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 5px;
  right: 4px;
  border: 3px solid #0e0e11;
}

.container main .works-section .work-item {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.container main .works-section .work-item .work-browser {
  width: 50%;
  min-width: 50%;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.container main .works-section .work-item .work-browser .browser-title {
  height: 30px;
  background: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .works-section .work-item .work-browser .browser-title span {
  width: 8px;
  height: 8px;
  background: #f69f19;
  border-radius: 50%;
  position: relative;
  margin-left: 30px;
}

.container main .works-section .work-item .work-browser .browser-title span::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #e9203a;
  position: absolute;
  top: 0;
  left: -15px;
}

.container main .works-section .work-item .work-browser .browser-title span::after {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #4eac2f;
  position: absolute;
  top: 0;
  right: -15px;
}

.container main .works-section .work-item .work-browser .browser-content {
  height: 300px;
  background-size: cover;
  -webkit-transition: 5s all;
  transition: 5s all;
  border: 5px solid #111;
}

.container main .works-section .work-item .work-browser .browser-content:hover {
  background-position: bottom;
}

.container main .works-section .work-item .work-inner {
  padding-left: 30px;
}

.container main .works-section .work-item .work-inner .work-title {
  font-size: 34px;
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
}

.container main .works-section .work-item .work-inner .work-tags {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container main .works-section .work-item .work-inner .work-tags a {
  display: block;
  padding: 5px 10px;
  font-size: 15px;
  background: #f67521;
  color: #111;
  margin-right: 10px;
}

.container main .works-section .work-item .work-inner .work-description {
  font-size: 17px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  margin-top: 25px;
}

.container main .works-section .work-item .work-inner a.work-button {
  margin-top: 20px;
  font-family: Merriweather,sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 45px;
  padding: 0 25px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  background: transparent;
  -webkit-transition: 500ms color;
  transition: 500ms color;
  position: relative;
  z-index: 1;
}

.container main .works-section .work-item .work-inner a.work-button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 500ms width;
  transition: 500ms width;
  background: #fff;
}

.container main .works-section .work-item .work-inner a.work-button:hover {
  color: #0e0e11;
}

.container main .works-section .work-item .work-inner a.work-button:hover::before {
  width: 100%;
}

.container main .works-section .work-item.item-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container main .contact-section {
  width: 100%;
  height: auto;
  margin-top: 60px;
  scroll-margin-top: 50px;
}

.container main .contact-section h2 {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container main .contact-section h2::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 5px;
  right: -5px;
  border: 3px solid #0e0e11;
}

.container main .contact-section .contact-boxes {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container main .contact-section .contact-boxes a.box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #fff;
  line-height: 1.4;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.container main .contact-section .contact-boxes a.box .fa-envelope, .container main .contact-section .contact-boxes a.box .fa-whatsapp {
  color: #f67521;
  margin-right: 15px;
  font-size: 30px;
}

.container main .contact-section .contact-boxes a.box:first-child {
  margin-right: 15px;
}

.container main .contact-section .contact-boxes a.box:last-child {
  margin-left: 15px;
}

.container main .contact-section .contact-boxes a.box:hover {
  background: rgba(255, 255, 255, 0.2);
}

.container main .contact-section .form-container {
  width: 100%;
  height: auto;
}

.container main .contact-section .form-container form.contact-form .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.container main .contact-section .form-container form.contact-form .form-label .form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px;
}

.container main .contact-section .form-container form.contact-form .form-label .form-input input {
  font-family: Merriweather,sans-serif;
  border: 3px solid rgba(255, 255, 255, 0.1);
  height: 50px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.container main .contact-section .form-container form.contact-form .form-label .form-input input:focus {
  border: 3px solid #f67521;
}

.container main .contact-section .form-container form.contact-form .form-label + .form-label {
  margin-top: 25px;
}

.container main .contact-section .form-container form.contact-form .form-label textarea {
  font-family: Merriweather,sans-serif;
  border: 3px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  overflow: auto;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  color: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.container main .contact-section .form-container form.contact-form .form-label textarea:focus {
  border: 3px solid #f67521;
}

.container main .contact-section .form-container form.contact-form button.send-button {
  margin-top: 20px;
  font-family: Merriweather,sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  padding: 0 25px;
  font-weight: 500;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  background: transparent;
  -webkit-transition: 500ms color;
  transition: 500ms color;
  position: relative;
  z-index: 1;
}

.container main .contact-section .form-container form.contact-form button.send-button::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 500ms width;
  transition: 500ms width;
  background: #fff;
}

.container main .contact-section .form-container form.contact-form button.send-button:hover {
  color: #0e0e11;
}

.container main .contact-section .form-container form.contact-form button.send-button:hover::before {
  width: 100%;
}

.container main .social-section {
  width: 100%;
  height: auto;
  margin-top: 120px;
  margin-bottom: 40px;
}

.container main .social-section h2 {
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.container main .social-section h2::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 5px;
  right: -4px;
  border: 3px solid #0e0e11;
}

.container main .social-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.container main .social-section ul li {
  width: calc(100% / 3 - 30px);
  margin: 0 15px 15px;
}

.container main .social-section ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border: 3px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 300ms color;
  transition: 300ms color;
}

.container main .social-section ul li a span.social-icon {
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-right: 3px solid #fff;
  margin-right: 20px;
}

.container main .social-section ul li a:hover::before {
  width: 60%;
}

.container main .social-section ul li a::before {
  content: "";
  width: 0;
  height: 100%;
  background: #fff;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.container main .social-section ul li.instagram a::before {
  background: #e1306c;
}

.container main .social-section ul li.instagram span.social-icon {
  background: #e1306c;
}

.container main .social-section ul li.github a::before {
  background: #333;
}

.container main .social-section ul li.github span.social-icon {
  background: #333;
}

.container main .social-section ul li.whatsapp a::before {
  background: #25d366;
}

.container main .social-section ul li.whatsapp span.social-icon {
  background: #25d366;
}

.container main footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container main footer p {
  font-style: italic;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

.container main footer p span {
  color: #e1306c;
}

.container main footer p a {
  color: #fff;
}

.container ::-moz-selection {
  background: #f67521;
  color: #fff;
}

.container ::selection {
  background: #f67521;
  color: #fff;
}

/* container finish */
.mobile-menu.active-menu {
  opacity: 1;
  pointer-events: all;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0e0e11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-menu .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 15px 30px;
  border: 3px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.mobile-menu .logo a::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 13px;
  right: 27%;
  border: 3px solid #0e0e11;
}

.mobile-menu .logo a::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f67521;
  position: absolute;
  bottom: 13px;
  right: 38%;
  border: 3px solid #0e0e11;
}

.mobile-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu nav a {
  display: block;
  margin: 20px auto;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.mobile-menu nav a.primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  letter-spacing: 1px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  color: #0e0e11;
  background: #fff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobile-menu nav a.primary-button .fa-angle-double-right {
  font-weight: 300;
  margin-left: 10px;
  color: #f67521;
}

.mobile-menu nav a.primary-button:hover {
  background-color: #f67521;
  color: #fff;
}

.mobile-menu nav a.primary-button:hover .fa-angle-double-right {
  color: #fff;
}

.mobile-menu .menu-close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #fff;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 34px;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .container header {
    height: auto;
    margin: 20px auto;
  }
  .container header .logo a {
    padding: 10px 16px;
    font-size: 24px;
  }
  .container header .logo a::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f67521;
    position: absolute;
    bottom: 8px;
    right: 25.5%;
    border: 3px solid #0e0e11;
  }
  .container header .logo a::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #f67521;
    position: absolute;
    bottom: 8px;
    right: 37%;
    border: 3px solid #0e0e11;
  }
  .container header nav {
    display: none;
  }
  .container header .hamburger-button {
    color: #fff;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
    cursor: pointer;
  }
  .container main {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .container main .hero-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container main .hero-banner .inner {
    margin: 0 auto;
  }
  .container main .hero-banner .inner h2 {
    font-size: 24px;
  }
  .container main .hero-banner .inner h2::before {
    width: 5px;
    height: 5px;
    bottom: 0;
    right: 2px;
  }
  .container main .hero-banner .inner p {
    font-size: 16px;
  }
  .container main .hero-banner .banner-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container main .hero-banner .banner-img img {
    width: 90%;
    height: auto;
  }
  .container main .hiw-section {
    margin-bottom: 0px;
  }
  .container main .hiw-section h2 {
    font-size: 30px;
  }
  .container main .hiw-section h2::before {
    right: 3px;
    bottom: 1;
  }
  .container main .hiw-section .hiw-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .container main .hiw-section .hiw-wrapper .hiw-box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-right: 3px solid #17171b;
  }
  .container main .hiw-section .hiw-wrapper .hiw-box .hiw-text p {
    font-size: 14px;
  }
  .container main .hiw-section .hiw-wrapper .hiw-box .hiw-number {
    display: none;
  }
  .container main .tech-section {
    margin-top: 50px;
  }
  .container main .tech-section h2 {
    font-size: 30px;
  }
  .container main .tech-section h2::before {
    right: 3px;
    bottom: 1;
  }
  .container main .tech-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
  }
  .container main .tech-section ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 150px;
    margin-left: 0;
  }
  .container main .tech-section ul::-webkit-scrollbar {
    display: none;
  }
  .container main .works-section {
    margin-top: 50px;
  }
  .container main .works-section h2 {
    font-size: 30px;
  }
  .container main .works-section h2::before {
    right: 3px;
    bottom: 1;
  }
  .container main .works-section .work-item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin-bottom: 60px;
  }
  .container main .works-section .work-item .work-browser {
    width: 100%;
  }
  .container main .works-section .work-item .work-browser .browser-content {
    height: 240px;
  }
  .container main .works-section .work-item .work-inner {
    padding: 0;
    margin-top: 14px;
  }
  .container main .works-section .work-item .work-inner .work-title {
    font-size: 20px;
  }
  .container main .works-section .work-item .work-inner .work-tags a {
    font-size: 14px;
  }
  .container main .works-section .work-item .work-inner .work-description {
    font-size: 15px;
    margin-top: 15px;
  }
  .container main .contact-section h2 {
    font-size: 30px;
    margin-bottom: -15px;
  }
  .container main .contact-section h2::before {
    right: -2px;
    bottom: 0;
    width: 5px;
    height: 5px;
  }
  .container main .contact-section .contact-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container main .contact-section .contact-boxes a.box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 0 15px !important;
    font-size: 14px;
    padding: 15px 20px;
  }
  .container main .contact-section .form-container {
    width: 100%;
    height: auto;
  }
  .container main .contact-section .form-container form.contact-form .form-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container main .contact-section .form-container form.contact-form .form-label .form-input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0px;
  }
  .container main .contact-section .form-container form.contact-form .form-label .form-input input {
    margin-bottom: 15px;
  }
  .container main .contact-section .form-container form.contact-form .form-label + .form-label {
    margin-top: 0px;
  }
  .container main .contact-section .form-container form.contact-form .form-label textarea {
    height: 150px;
  }
  .container main .social-section {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .container main .social-section h2 {
    font-size: 30px;
  }
  .container main .social-section h2::before {
    right: -2px;
    bottom: 0;
    width: 5px;
    height: 5px;
  }
  .container main .social-section ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 !important;
  }
  .container main .social-section ul li {
    width: 100% !important;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */